{extend name="public/base" /}
{block name="nav"}
<h1>
    <span class="action-span"><a href="__GROUP__/Category/categoryAdd">添加分类</a></span>
    <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 商品分类 </span>
    <div style="clear:both"></div>
</h1>
{/block}
{block name="body"}
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
                <th>用户名称</th>
                <th>角色名称</th>
                <th>操作</th>
            </tr>
            {volist name='data' id='vo'}       
            <tr align="center" class="0">
                <td align="left" class="first-cell" >
                {$vo.admin_id.username}
                </td>
                <td align="left" class="first-cell" >
                {$vo.role_id.role_name}
                </td>
                {gt name="$vo.role_id.id" value="1"}                 
                <td width="30%" align="center">
                <a href="{:url('edit','id='.$vo.admin_id['id'])}">编辑</a> |
                <a href="{:url('del','id='.$vo.admin_id['id'])}" title="移除" onclick="">移除</a>
                </td>
                {/gt}
            </tr>
            {/volist}
        </table>
    </div>
</form>
{/block}

