{extend name="public/base" /}
{block name="nav"}
<h1>
    <span class="action-span"><a href="__GROUP__/Category/categoryAdd">添加分类</a></span>
    <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 商品分类 </span>
    <div style="clear:both"></div>
</h1>
{/block}
{block name="body"}
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
                <th>权限名称:</th>
                <th>控制器名称:</th>
                <th>操作名称:</th>
                <th>是否导航显示:</th>
                <th>操作</th>
            </tr>
            {volist name='privilege' id='vo'}       
            <tr align="center" class="0">
                <td align="left" class="first-cell" >
                    {$vo.lev|str_repeat='--',###} {$vo.privilege_name}
                </td>
                <td align="left" class="first-cell" >
                    {$vo.controller_name}
                </td> 
                <td align="left" class="first-cell" >
                    {$vo.action_name}
                </td> 
                {eq name="vo.is_show" value="1"}
                <td align="left" class="first-cell" >
                   是
                </td>
                {else /}
                <td align="left" class="first-cell" >
                   否
                </td>
                {/eq}               
                <td width="30%" align="center">
                <a href="{:url('edit','id='.$vo['id'])}">编辑</a> |
                <a href="{:url('del','id='.$vo['id'])}" title="移除" onclick="">移除</a>
                </td>
            </tr>
            {/volist}
        </table>
    </div>
</form>
{/block}

